<div id="page">

  <div class="box">
    <h1>Gästebuch</h1>
    <p>Liebe Gäste, wir sind sehr bemüht Ihren Aufenthalt bei uns bestmöglich zu gestalten. Über Ihr Feedback würden wir
      uns sehr freuen!</p>
  </div>

  <div id="newEntry" class="box">
    <h2>Neuen Eintrag hinzufügen</h2>
    <form #mailform="ngForm">
      <div class="form-group">
        <label for="email">EMail</label>
        <input type="text" class="form-control" id="Email"
               required
               [(ngModel)]="userEntry.Email" name="Email"
               #name="ngModel">
      </div>
    </form>
    <form #entryform="ngForm">
      <div class="form-group">
        <label for="title">Name*</label>
        <input type="text" class="form-control" id="Name"
               required
               [(ngModel)]="userEntry.Name" name="Name"
               #name="ngModel">
      </div>
      <div class="form-group">
        <label for="title">Title*</label>
        <input type="text" class="form-control" id="Title"
               required
               [(ngModel)]="userEntry.Title" name="Title"
               #name="ngModel">
      </div>
      <div class="form-group">
        <label for="content">Content*</label>
        <input type="text" class="form-control" id="Content"
               required
               [(ngModel)]="userEntry.Content" name="Content"
               #name="ngModel">
      </div>
      <br>
      <button type="submit" class="btn btn-default" (click)="addEntry(); mailform.reset(); entryform.reset()"
              [disabled]="!entryform.form.valid">New Entry
      </button>
    </form>
  </div>

  <div id="allEntries" class="box">
    <div *ngFor="let entry of entries?.reverse()">
      <b>{{entry.Name}}</b>
      <div class="entry-info">
        {{entry.Date}} Uhr
        <div class="entry-email" *ngIf="entry.Email != ''">
          | <a href="mailto:{{entry.Email}}">E-Mail</a>
        </div>
      </div>
      <div class="entry-message">
        <p>{{entry.Title}}</p>
        <p>{{entry.Content}}</p>
      </div>
    </div>
  </div>

</div>
